body {
  padding: 2em;
  text-align: center;
}
ul li {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  padding: 4px;
}
.todoInput {
  width: 250px;
  height: 25px;
}
.addBtn {
  height: 31px;
  width: 50px;
  background-color: black;
  color: white;
  border: none;
  margin-left: 5px;
}
.delAllBtn {
  height: 31px;
  margin-left: 5px;
  background-color: black;
  color: white;
  border: none;
}
.delItem {
  margin-left: 10px;
  background-color: black;
  color: white;
  border: none;
}
ul {
  width: 770px;
}
